
@{
    ViewData["Title"] = "UserPersonalInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-b-10">
    <div class="col-xl-12" style="border: 1px solid black; border-radius: 20px">
        <div class="row" style="padding: 20px">
            <div class="col-xl-3">
                <img src="https://i.guim.co.uk/img/media/6da559740e50bd2e78bc46f3b316f41cd2b11b83/0_64_3500_2099/master/3500.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=fa40a75c10ef9a8312114208c6d9ef2c" style="border-radius: 300px; width: 200px; height: 200px" />
            </div>
            <div class="col-xl-8 d-flex flex-column justify-content-center">
                <span style="font-size: 30px; font-weight: 500; color: black">NGUYEN HOANG PHUC</span>
                <span style="font-size: 20px; color: black">Role: Admin</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-5" style="border: 1px solid black; border-radius: 20px; padding: 20px">
        <div class="row" style="margin-bottom: 20px">
            <span style="font-size: 23px; font-weight: 700; color: black">Information</span>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-xl-4">
                <span style="font-size: 15px; font-weight: 500; color: black">Name</span>
            </div>
            <div class="col-xl-8">
                <input type="text" class="input-personal-info" value="Nguyen Hoang Phuc" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-xl-4">
                <span style="font-size: 15px; font-weight: 500; color: black">Date of birth</span>
            </div>
            <div class="col-xl-8">
                <input type="date" class="input-personal-info" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-xl-4">
                <span style="font-size: 15px; font-weight: 500; color: black">Email</span>
            </div>
            <div class="col-xl-8">
                <input type="email" class="input-personal-info" value="hoangphucnguyen112002@gmail.com" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-xl-4">
                <span style="font-size: 15px; font-weight: 500; color: black">Phone number</span>
            </div>
            <div class="col-xl-8">
                <input type="text" class="input-personal-info" value="0933538901" />
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-end">
            <button class="btn-personal-info-custom">Cancel</button>
            <button class="btn-personal-info-custom">Edit</button>
        </div>
    </div>

    <div class="col-xl-7" style="padding-left: 25px">
        <div class="row" style="border: 1px solid black; border-radius: 20px; height: 100%; padding: 20px">
            <span style="font-size: 23px; font-weight: 700; color: black">Topics</span>
        </div>
    </div>
</div>

