@model QuanLyDeTai.Models.Topic

@{
    ViewData["Title"] = "UserTopicRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Object> levelItems = new List<Object>();

    levelItems.Add(new
    {
        text = "Faculty"
    });
    levelItems.Add(new
    {
        text = "School"
    });
}

<div class="row m-b-10" style="border-bottom: 3px solid black; margin-bottom: 50px !important">
    <div class="d-flex justify-content-end text-dark" style="font-size: 25px; font-weight: 500">
        TOPIC REGISTER
    </div>
</div>

<form asp-action="Register" method="post">
    @Html.AntiForgeryToken()
    <div class="row m-b-10" style="margin-bottom: 50px !important">
        <div class="col-xl-12 d-flex flex-column">
            <span style="color: black; font-size: 16px; font-weight: 500">Name</span>
            <input class="tb-custom" placeholder="Input name of topic" asp-for="TopicName" />
        </div>
    </div>

    <div class="row m-b-10" style="margin-bottom: 50px !important">
        <div class="col-xl-6 d-flex flex-column">
            <span style="color: black; font-size: 16px; font-weight: 500">Research field</span>
            <input class="tb-custom" placeholder="Input research field" asp-for="ResearchField" />
        </div>
        <div class="col-xl-6 d-flex flex-column">
            <span style="color: black; font-size: 16px; font-weight: 500">Level</span>
            <select asp-for="LevelTopic" name="LevelTopic" class="tb-custom">
                <option value="Faculty">Faculty</option>
                <option value="School">School</option>
            </select>
        </div>
    </div>

    <div class="row m-b-10" style="margin-bottom: 50px !important">
        <div class="col-xl-12 d-flex flex-column">
            <span style="color: black; font-size: 16px; font-weight: 500">Members</span>
            <ejs-grid id="Grid" dataSource="@ViewBag.LecturersList" allowSelection="true" allowPaging="true" toolbar="@(new List<string>() { "Search"})" allowSorting="true">
                <e-grid-selectionsettings checkboxMode="ResetOnRowClick" type="Multiple"></e-grid-selectionsettings>
                <e-grid-pagesettings pageCount="2"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="LecturerCode" headerText="Code" width="120"></e-grid-column>
                    <e-grid-column field="LecturerName" headerText="Name" width="180"></e-grid-column>
                    <e-grid-column field="Major" headerText="Major" width="180"></e-grid-column>
                    <e-grid-column field="FacultyId" headerText="Faculty" width="180"></e-grid-column>
                    <e-grid-column field="LevelCurrent" headerText="Level" width="100"></e-grid-column>
                    <e-grid-column field="Contract" headerText="Contract" width="100"></e-grid-column>
                    <e-grid-column type="checkbox" width="50"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>

            <div class="row d-flex justify-content-end" style="margin-top: 50px">
                <button class="btn-register" type="submit">Register</button>
            </div>
        </div>
    </div>
</form>

